name: "Setup JDK 21"
description: "Install JDK 21 and enable Maven cache"

runs:
  using: "composite"
  steps:
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
